body {
    background-color: #F0EFE7;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 57px;
    text-align: center;
    font-weight: 500;
    background-color: antiquewhite;
    padding: 5px 0;
}

ul {
    /* border: 1px solid red; */
    margin-top: 70px;
}

li a {
    display: inline-block;
    font-size: 1.8rem;
    color: black;
    margin-bottom: 20px;
}

